In [3]:
import pandas as pd
import os
DATA_PATH = "../calrecycle-data/"

## Waste origin per county

No, we don't want to merge dataframes, just concantenate

In [35]:
county_waste_production = pd.DataFrame(columns=['Report Year']) 
for f in os.listdir(DATA_PATH):
    filename, ext = os.path.splitext(f)
#     if ext == '.csv':
    county = filename.split("_waste_production")[0]
    county = county.replace("_", " ")
    print("[INFO] filtering county: ", county)
#     df = pd.read_csv(os.path.join(DATA_PATH, f))
#     filtered_df = filter_disposal_df(df, county)
#     county_waste_production.merge(filtered_df, on='Report Year', how='inner')

[INFO] filtering county:  San Bernardino
[INFO] filtering county:  Tehama
[INFO] filtering county:  Modoc
[INFO] filtering county:  San Benito
[INFO] filtering county:  Santa Barbara
[INFO] filtering county:  Yolo
[INFO] filtering county:  Sonoma
[INFO] filtering county:  Tuolumne
[INFO] filtering county:  San Mateo
[INFO] filtering county:  Monterey
[INFO] filtering county:  Alpine
[INFO] filtering county:  Solano
[INFO] filtering county:  Fresno
[INFO] filtering county:  Tulare
[INFO] filtering county:  Marin
[INFO] filtering county:  Trinity
[INFO] filtering county:  Humboldt
[INFO] filtering county:  Calaveras
[INFO] filtering county:  Inyo
[INFO] filtering county:  Kings
[INFO] filtering county:  Amador
[INFO] filtering county:  Kern
[INFO] filtering county:  San Luis Obispo
[INFO] filtering county:  Mendocino
[INFO] filtering county:  Ventura
[INFO] filtering county:  Lassen
[INFO] filtering county:  El Dorado
[INFO] filtering county:  Yuba
[INFO] filtering county:  Colusa
[INFO] filtering county:  Mono
[INFO] filtering county:  Merced
[INFO] filtering county:  Los Angeles
[INFO] filtering county:  Stanislaus
[INFO] filtering county:  Del Norte
[INFO] filtering county:  San Francisco
[INFO] filtering county:  Contra Costa
[INFO] filtering county:  Plumas
[INFO] filtering county:  San Diego
[INFO] filtering county:  Santa Clara
[INFO] filtering county:  Sacramento
[INFO] filtering county:  Nevada
[INFO] filtering county:  Napa
[INFO] filtering county:  Madera
[INFO] filtering county:  Orange
[INFO] filtering county:  Placer
[INFO] filtering county:  Siskiyou
[INFO] filtering county:  Alameda
[INFO] filtering county:  Lake
[INFO] filtering county:  San Joaquin
[INFO] filtering county:  Sierra
[INFO] filtering county:  Glenn
[INFO] filtering county:  Butte
[INFO] filtering county:  Mariposa
[INFO] filtering county:  Imperial
[INFO] filtering county:  Riverside
[INFO] filtering county:  Shasta
[INFO] filtering county:  Sutter
[INFO] filtering county:  Santa Cruz

In [ ]:
def filter_disposal_df(df, county):
    """Drop quarterly values in the csv and only keep yearly values
    Input:
        - calrecycle csv
    
    Ouput:
        - df with year, county, disposal ton
    """
    df["County"] = "county"
    missing_data = df["Report Year"].isnull()
    df = df[~missing_data]
    return df


### Sandbox

In [31]:
alameda = pd.read_excel("../calrecycle-data/Alameda_waste_production.xlsx", skiprows=3, skipfooter=2)
alameda.tail()

,Report Year,Report Quarter,Diposal Ton,Unnamed: 3,Export Ton,Transformation Ton,Unnamed: 6,Total ADC
1620,NaN,Oakland,78430.21,NaN,NaN,3.40,NaN,84.69
1621,NaN,Piedmont,827.47,NaN,NaN,NaN,NaN,3.13
1622,NaN,Pleasanton,24092.82,NaN,NaN,5.68,NaN,NaN
1623,NaN,San Leandro,46821.75,NaN,NaN,29.11,NaN,NaN
1624,NaN,Union City,12817.32,NaN,NaN,NaN,NaN,NaN

In [13]:
alameda = pd.read_csv("../calrecycle-data/Alameda_waste_production.csv", skiprows=3, skipfooter=2)
alameda.tail()

/Users/mdong/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,Report Year,Report Quarter,Diposal Ton,Unnamed: 3,Export Ton,Transformation Ton,Unnamed: 6,Total ADC
1620,NaN,Oakland,78430.21,NaN,NaN,3.40,NaN,84.69
1621,NaN,Piedmont,827.47,NaN,NaN,NaN,NaN,3.13
1622,NaN,Pleasanton,24092.82,NaN,NaN,5.68,NaN,NaN
1623,NaN,San Leandro,46821.75,NaN,NaN,29.11,NaN,NaN
1624,NaN,Union City,12817.32,NaN,NaN,NaN,NaN,NaN

In [16]:
missing_data = alameda["Report Year"].isnull()
alameda[~missing_data]

,Report Year,Report Quarter,Diposal Ton,Unnamed: 3,Export Ton,Transformation Ton,Unnamed: 6,Total ADC
0,1995.0,NaN,1583135.05,NaN,NaN,186.43,NaN,67657.76
65,1996.0,NaN,1510874.25,NaN,NaN,311.26,NaN,182656.99
130,1997.0,NaN,1593570.29,NaN,NaN,311.57,NaN,210496.89
195,1998.0,NaN,1671466.25,NaN,NaN,195.09,NaN,151114.25
260,1999.0,NaN,1733182.35,NaN,NaN,72.66,NaN,198758.61
325,2000.0,NaN,1676429.25,NaN,NaN,40.04,NaN,239146.32
390,2001.0,NaN,1629208.38,NaN,NaN,37.23,NaN,258659.71
455,2002.0,NaN,1596803.00,NaN,NaN,145.66,NaN,314879.89
520,2003.0,NaN,1585190.61,NaN,303.00,107.59,NaN,327092.55
585,2004.0,NaN,1692478.59,NaN,NaN,1290.56,NaN,263961.58
650,2005.0,NaN,1659523.24,NaN,NaN,1838.33,NaN,276582.23
715,2006.0,NaN,1656037.42,NaN,NaN,2084.81,NaN,281605.02
780,2007.0,NaN,1551102.75,NaN,NaN,2166.99,NaN,280097.19
845,2008.0,NaN,1337915.56,NaN,NaN,1623.68,NaN,336772.26
910,2009.0,NaN,1246311.26,NaN,NaN,1463.59,NaN,367743.42
975,2010.0,NaN,1152323.90,NaN,NaN,1269.80,NaN,369883.42
1040,2011.0,NaN,1090342.95,NaN,NaN,433.84,NaN,542559.06
1105,2012.0,NaN,1147859.10,NaN,NaN,380.59,NaN,352860.18
1170,2013.0,NaN,1143318.37,NaN,NaN,639.49,NaN,369467.75
1235,2014.0,NaN,1106585.54,NaN,NaN,1226.46,NaN,341766.38
1300,2015.0,NaN,1130785.92,NaN,NaN,1662.29,NaN,338577.37
1365,2016.0,NaN,1188438.89,NaN,NaN,4289.61,NaN,343054.04
1430,2017.0,NaN,1381330.35,NaN,NaN,6454.79,NaN,377833.82
1495,2018.0,NaN,1342490.34,NaN,4223.59,11328.46,NaN,431764.13
1560,2019.0,NaN,1465263.51,NaN,3279.04,8319.38,NaN,237227.39

In [26]:
alameda["County"] = "Alameda"
alameda.head()

,Report Year,Report Quarter,Diposal Ton,Unnamed: 3,Export Ton,Transformation Ton,Unnamed: 6,Total ADC,County
0,1995.0,NaN,1583135.05,NaN,NaN,186.43,NaN,67657.76,Alameda
1,NaN,1,392516.28,NaN,NaN,15.90,NaN,174.00,Alameda
2,NaN,Alameda,14256.00,NaN,NaN,NaN,NaN,NaN,Alameda
3,NaN,Alameda-Unincorporated,25403.14,NaN,NaN,NaN,NaN,NaN,Alameda
4,NaN,Albany,2925.00,NaN,NaN,NaN,NaN,NaN,Alameda

In [14]:
alameda.set_index("Report Year")

,Report Quarter,Diposal Ton,Unnamed: 3,Export Ton,Transformation Ton,Unnamed: 6,Total ADC
Report Year,,,,,,,
1995.0,NaN,1583135.05,NaN,NaN,186.43,NaN,67657.76
NaN,1,392516.28,NaN,NaN,15.90,NaN,174.00
NaN,Alameda,14256.00,NaN,NaN,NaN,NaN,NaN
NaN,Alameda-Unincorporated,25403.14,NaN,NaN,NaN,NaN,NaN
NaN,Albany,2925.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
NaN,Oakland,78430.21,NaN,NaN,3.40,NaN,84.69
NaN,Piedmont,827.47,NaN,NaN,NaN,NaN,3.13
NaN,Pleasanton,24092.82,NaN,NaN,5.68,NaN,NaN
NaN,San Leandro,46821.75,NaN,NaN,29.11,NaN,NaN
NaN,Union City,12817.32,NaN,NaN,NaN,NaN,NaN

---

## Waste Characterization per county

In [12]:
county_waste = []
for f in os.listdir(DATA_PATH):
    filename, ext = os.path.splitext(f)
    if ext == '.csv':
        df = pd.read_csv(os.path.join(DATA_PATH, f))
        df["Jurisdiction(s)"] = df["Jurisdiction(s)"].str.replace(" \(Countywide\)", "").str.upper()
        df.rename(columns={"Jurisdiction(s)":"County"}, inplace=True)
        county_waste.append(df)

In [13]:
waste_per_county = pd.concat(county_waste)
waste_per_county.head()

,Material Category,Material Type,County,Single Family Tons,Regional Single Family Composition,Multi Family Tons,Statewide Multi Family Composition,Total Residential Tons,Total Residential Composition
0,Paper,Uncoated Corrugated Cardboard,CONTRA COSTA,1536,0.006688,1931,0.035679,3467,0.012218
1,Paper,Paper Bags,CONTRA COSTA,719,0.003132,286,0.005275,1005,0.003541
2,Paper,Newspaper,CONTRA COSTA,1665,0.007250,2513,0.046431,4178,0.014724
3,Paper,White Ledger Paper,CONTRA COSTA,426,0.001854,286,0.005287,712,0.002509
4,Paper,Other Office Paper,CONTRA COSTA,1097,0.004775,319,0.005888,1415,0.004987

In [16]:
assert len(waste_per_county["County"].unique()) == 58

In [17]:
waste_per_county.to_csv("../data/calrecycle_waste_per_county.csv", index=False)

### Sandbox

In [8]:
alameda = pd.read_csv("../calrecycle-data/Alameda_Alameda (Countywide).csv")

In [9]:
alameda.rename(columns={"Jurisdiction(s)":"County"},inplace = True)

In [10]:
alameda.head()

,Material Category,Material Type,County,Single Family Tons,Regional Single Family Composition,Multi Family Tons,Statewide Multi Family Composition,Total Residential Tons,Total Residential Composition
0,Paper,Uncoated Corrugated Cardboard,Alameda (Countywide),1917,0.006688,4231,0.035679,6147,0.015173
1,Paper,Paper Bags,Alameda (Countywide),898,0.003132,625,0.005275,1523,0.003759
2,Paper,Newspaper,Alameda (Countywide),2078,0.007250,5506,0.046431,7583,0.018717
3,Paper,White Ledger Paper,Alameda (Countywide),531,0.001854,627,0.005287,1158,0.002859
4,Paper,Other Office Paper,Alameda (Countywide),1368,0.004775,698,0.005888,2067,0.005101

In [5]:
alameda["Jurisdiction(s)"][0]

'Alameda (Countywide)'

In [11]:
alameda["Jurisdiction(s)"] = alameda["Jurisdiction(s)"].str.replace(" \(Countywide\)", "").str.upper()