In [10]:
import pandas as pd

In [11]:
waste_per_county = pd.read_csv("../data/calrecycle_waste_per_county.csv")
waste_per_county.head()

,Material Category,Material Type,County,Single Family Tons,Regional Single Family Composition,Multi Family Tons,Statewide Multi Family Composition,Total Residential Tons,Total Residential Composition
0,Paper,Uncoated Corrugated Cardboard,CONTRA COSTA,1536,0.006688,1931,0.035679,3467,0.012218
1,Paper,Paper Bags,CONTRA COSTA,719,0.003132,286,0.005275,1005,0.003541
2,Paper,Newspaper,CONTRA COSTA,1665,0.007250,2513,0.046431,4178,0.014724
3,Paper,White Ledger Paper,CONTRA COSTA,426,0.001854,286,0.005287,712,0.002509
4,Paper,Other Office Paper,CONTRA COSTA,1097,0.004775,319,0.005888,1415,0.004987

In [19]:
total_waste_per_county = waste_per_county.groupby("County").agg("sum")[["Total Residential Tons"]].reset_index()
total_waste_per_county.head()

      County  Total Residential Tons
0    ALAMEDA                  405147
1     ALPINE                     291
2     AMADOR                    8799
3      BUTTE                   55883
4  CALAVERAS                   11400

In [22]:
len(total_waste_per_county.County.unique())

58

---

In [12]:
electricity_per_county = pd.read_csv("../data/cec-electricity-by-county.csv")
electricity_per_county.head()

,County,Sector,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,Total Usage
0,ALAMEDA,Non-Residential,7619.304491,7445.556909,8087.656147,7873.882100,7341.708151,7408.645462,7634.447579,7592.708714,7955.624590,7701.202729,76660.736872
1,ALAMEDA,Residential,3064.781376,2945.804917,2991.794416,2917.342741,2893.676837,2891.232325,2984.213677,2998.246885,3023.830340,3021.008265,29731.931779
2,ALPINE,Non-Residential,8.774426,9.283298,9.025215,8.124741,4.354396,4.008389,4.752038,4.590161,5.199864,5.203784,63.316312
3,ALPINE,Residential,10.131788,9.420910,9.951697,9.290913,11.855504,11.974975,13.424431,9.298178,9.093424,12.451971,106.893791
4,AMADOR,Non-Residential,177.195934,167.197304,169.803448,173.577629,152.516800,154.757105,170.871558,180.777745,169.941664,175.688511,1692.327698

In [28]:
residential_cond = electricity_per_county.Sector == "Residential"
year = "2014"
residential_electricity = electricity_per_county.loc[residential_cond, ["County", year]]
residential_electricity.rename(columns={year: "Electricity Usage"}, inplace=True)
residential_electricity.head()

      County  Electricity Usage
1    ALAMEDA        2891.232325
3     ALPINE          11.974975
5     AMADOR         134.744387
7      BUTTE         718.947064
9  CALAVERAS         192.543967

In [32]:
len(residential_electricity.County.unique())

58

---

### Merge

In [33]:
waste_electricity_df = total_waste_per_county.merge(residential_electricity)

In [34]:
waste_electricity_df.head()

      County  Total Residential Tons  Electricity Usage
0    ALAMEDA                  405147        2891.232325
1     ALPINE                     291          11.974975
2     AMADOR                    8799         134.744387
3      BUTTE                   55883         718.947064
4  CALAVERAS                   11400         192.543967

In [35]:
waste_electricity_df.to_csv("../data/complete_features_df.csv", index=False)