In [10]:
import pandas as pd

In [11]:
waste_per_county = pd.read_csv("../data/calrecycle_waste_per_county.csv")
waste_per_county.head()

,Material Category,Material Type,County,Single Family Tons,Regional Single Family Composition,Multi Family Tons,Statewide Multi Family Composition,Total Residential Tons,Total Residential Composition
0,Paper,Uncoated Corrugated Cardboard,CONTRA COSTA,1536,0.006688,1931,0.035679,3467,0.012218
1,Paper,Paper Bags,CONTRA COSTA,719,0.003132,286,0.005275,1005,0.003541
2,Paper,Newspaper,CONTRA COSTA,1665,0.007250,2513,0.046431,4178,0.014724
3,Paper,White Ledger Paper,CONTRA COSTA,426,0.001854,286,0.005287,712,0.002509
4,Paper,Other Office Paper,CONTRA COSTA,1097,0.004775,319,0.005888,1415,0.004987

In [16]:
waste_per_county.groupby("County").agg("sum")[["Total Residential Tons"]].

                 Total Residential Tons
County
ALAMEDA                          405147
ALPINE                              291
AMADOR                             8799
BUTTE                             55883
CALAVERAS                         11400
COLUSA                             5532
CONTRA COSTA                     283772
DEL NORTE                          6106
EL DORADO                         46432
FRESNO                           246630
GLENN                              7232
HUMBOLDT                          33039
IMPERIAL                          45159
INYO                               4648
KERN                             217883
KINGS                             34263
LAKE                              16105
LASSEN                             5904
LOS ANGELES                     2565550
MADERA                            37707
MARIN                             64859
MARIPOSA                           4448
MENDOCINO                         22032
MERCED                            67789
MODOC                              2369
MONO                               3416
MONTEREY                         106232
NAPA                              34961
NEVADA                            24706
ORANGE                           798973
PLACER                            94361
PLUMAS                             5000
RIVERSIDE                        590028
SACRAMENTO                       375574
SAN BENITO                        14341
SAN BERNARDINO                   536080
SAN DIEGO                        811199
SAN FRANCISCO                    214592
SAN JOAQUIN                      183159
SAN LUIS OBISPO                   66835
SAN MATEO                        193000
SANTA BARBARA                    109099
SANTA CLARA                      483851
SANTA CRUZ                        66826
SHASTA                            44812
SIERRA                              813
SISKIYOU                          11265
SOLANO                           107166
SONOMA                           125350
STANISLAUS                       136114
SUTTER                            24617
TEHAMA                            16080
TRINITY                            3388
TULARE                           117688
TUOLUMNE                          13092
VENTURA                          215568
YOLO                              51697
YUBA                              18632

In [12]:
electricity_per_county = pd.read_csv("../data/cec-electricity-by-county.csv")
electricity_per_county.head()

,County,Sector,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,Total Usage
0,ALAMEDA,Non-Residential,7619.304491,7445.556909,8087.656147,7873.882100,7341.708151,7408.645462,7634.447579,7592.708714,7955.624590,7701.202729,76660.736872
1,ALAMEDA,Residential,3064.781376,2945.804917,2991.794416,2917.342741,2893.676837,2891.232325,2984.213677,2998.246885,3023.830340,3021.008265,29731.931779
2,ALPINE,Non-Residential,8.774426,9.283298,9.025215,8.124741,4.354396,4.008389,4.752038,4.590161,5.199864,5.203784,63.316312
3,ALPINE,Residential,10.131788,9.420910,9.951697,9.290913,11.855504,11.974975,13.424431,9.298178,9.093424,12.451971,106.893791
4,AMADOR,Non-Residential,177.195934,167.197304,169.803448,173.577629,152.516800,154.757105,170.871558,180.777745,169.941664,175.688511,1692.327698

In [13]:
residential_cond = electricity_per_county.Sector == "Residential"
residential_electricity_2014 = electricity_per_county.loc[residential_cond, ["County", "2014"]]
residential_electricity_2014.head()

      County         2014
1    ALAMEDA  2891.232325
3     ALPINE    11.974975
5     AMADOR   134.744387
7      BUTTE   718.947064
9  CALAVERAS   192.543967

In [18]:
len(residential_electricity_2014.County.unique())

58