In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import make_scorer
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
DATA_PATH = "/Users/mdong/dataScience/projects-ml/ca-waste/" + "data/"

# Forecasting waste production into the future

In [6]:
complete_feature_df = pd.read_csv(DATA_PATH + "complete_feature_df.csv")
complete_feature_df.set_index("Year", inplace=True)
complete_feature_df.head()

,Waste Produced (Tons),County,Population,Electricity Usage (GWh),Mobile Homes (units),Multi-Family (units),Single Family (units)
Year,,,,,,,
2000.0,1676429.25,Alameda,1443939.0,2926.106226,7631,203132,328399
2000.0,745.00,Alpine,1208.0,6.247035,62,561,883
2000.0,41059.90,Amador,35100.0,127.238094,1488,913,12563
2000.0,203896.87,Butte,203171.0,705.766172,14199,17317,53845
2000.0,34110.44,Calaveras,40554.0,173.578409,2235,856,19777

In [5]:
target = complete_feature_df[["Waste Produced (Tons)"]]
feature_df = complete_feature_df.drop(columns="Waste Produced (Tons)")
feature_df.head(2)

,Year,County,Population,Electricity Usage (GWh),Mobile Homes (units),Multi-Family (units),Single Family (units)
0,2000.0,Alameda,1443939.0,2926.106226,7631,203132,328399
1,2000.0,Alpine,1208.0,6.247035,62,561,883

In [ ]:



average_waste_produced = 1.388987e+06
years_to_predict = np.arange(2020, 2025)
12 ** (years_to_predict % 2019 ) + average_waste_produced

complete_feature_df = pd.read_csv(DATA_PATH + "complete_feature_df.csv")

average_waste_produced_county = complete_feature_df.groupby("County").agg(np.mean)[["Waste Produced (Tons)"]]
average_waste_produced_county.head()

years_to_predict = np.arange(2020, 2025)
for county in average_waste_produced_county.index:
    average_waste_produced = average_waste_produced_county.loc[county, "Waste Produced (Tons)"]
    county_name = np.repeat(county, len(years_to_predict))
    dummy_predictions = 12 ** (years_to_predict % 2019) + average_waste_produced
#     average = np.repeat(average_waste_produced, len(years_to_predict))
    df = pd.DataFrame({"Year": years_to_predict, 
                       "County": county_name,
                       "Waste Produced (Tons)": dummy_predictions
                      })
    complete_feature_df = complete_feature_df.append(df, sort=False)

assert complete_feature_df.Year.max() == 2024

timeforecast_predictions = complete_feature_df[["Year", "County", "Waste Produced (Tons)"]]
timeforecast_predictions.sort_values(["Year", "County"], inplace=True)
timeforecast_predictions.head(3)

timeforecast_predictions.to_csv(DATA_PATH + "timeforecast_predictions.csv", index=False)